/****  Nav Menu Begins Here ****/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	  font-family: 'Montserrat', sans-serif;
	  background-color: #1f282d; /* #343434*/
	}

nav{	position:fixed;
		top:0; left:0; right:0; 
		
		padding-top: 9px;
		
		display: flex;
		justify-content: space-between;
		min-height: 8vh;
		background-color: #1f282d; /* or use #5d4954*/
	}

.logo a{
		position: fixed;
		padding-left: 35px;
		padding-top: 5px;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		letter-spacing: 3px;
		font-size: 20px;
		font-weight: 200;
	}

	
	


#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  
  transform: rotate(45deg);
  
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 16px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: grab;
  z-index: 1;
  padding-top: 8px;
}

.menu__btn > span, 
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #EDE3E3;
  transition-duration: .25s;

}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 8vh;
  left: -100%;
  width: 200px;
  height: min-height; /*100% for viewport height*/ 
  padding: 20px 0px;
  background-color: #202b31;
  list-style: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  border-radius: 0px 17px 27px 0px ;
  
  }
  
  .menu__box li{
	   list-style: none;
  }
  
    
.menu__item {
  display: block;
  padding: 8px 30px;
  color: #EDE3E3;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
  text-decoration: none;
  transition-duration: .25s;

}
.menu__item:hover {
  background-color: #354852;
  color: #FFFFFF;
}

.foo__item {
  display: block;
  margin-top: 80px;
  padding: 8px 30px;
  color: #EDE3E3;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
  text-decoration: none;
  
}
.foo__item:hover {
  background-color: #354852;
  color: #FFFFFF;
}

/****  Nav Menu Ends Here ****/

/****  Footer Menu Begins Here ****/



.footer a, .footer p{
	text-decoration: none;
  	color:rgb(151, 149, 250);
	letter-spacing: 3px;
	font-size: 14px;
	font-weight: 200;
	} 	
	
.footer{
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	
	
}	

#FooterLinks{
	font-family: 'Montserrat', sans-serif;
}

@media (min-width: 320px) and (max-width: 999px)  {
 .footer  {
  text-align: center;
  position: absolute;
  top: 95%; 	
	
 }


}
	
	
/****  Footer Ends Here ****/


/*** TYPEAHEAD-STANDALONE CSS BEGINS ***/
.tt-input {
  margin-top: 10px;
  margin-bottom:25px;
  border-radius: 8px;
  padding: 20px 20px;
  width: 70%;
  text-align:center;
  color: #fff;
  background-color: rgb(238, 23, 23);
  
  
   
} 

/* override style for list of suggestions */
.typeahead-standalone.typeahead-sgst .tt-list {
  background: #1f282d;
  color: #fff;
  border: 1px dotted #6d6b6b;
  border-radius: 10px;
  /* adds scrollbar when necessary */
  max-height: 400px;
 
}

.typeahead-standalone.typeahead-sgst .tt-hint{
color: #000;
display:none;

}

/* override style for all templates */
.typeahead-standalone.typeahead-sgst .tt-list div[class^="tt-"] {
  padding: 5px;
  
}

/* single suggestion */
.typeahead-standalone.typeahead-sgst .tt-list .tt-suggestion {
  border-bottom: 1px solid #3c3838;
  
}

/* single selected suggestion and single suggestion on hover */
.typeahead-standalone.typeahead-sgst .tt-list .tt-suggestion:hover, .typeahead-standalone.typeahead-sgst .tt-list .tt-suggestion.tt-selected {
  color: rgb(218, 6, 6);
  background-color: #2d393f;
  
}

/* style highlight */
.typeahead-standalone .tt-list .tt-suggestion .tt-highlight {
  color: rgb(139, 250, 241);
  
  
}

/* style single suggestion template */
.single-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.single-item .username {
  font-size: 17px;
  text-align:center;
}

/* style header template and notFound template */
.typeahead-standalone .tt-header, .typeahead-standalone .tt-notFound, .typeahead-standalone .tt-notFound a {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color:#ffffff;
  
}

.typeahead-standalone .tt-footer, .typeahead-standalone .tt-footer  a {
  text-align: right;
  font-size:12px;
  text-transform: uppercase;
  color:rgb(151, 149, 250);
}




	


.single-item .company_name {
	
	
	
	font-size: 20px;
	font-weight: bold;
	display: -webkit-inline-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	text-align:center;
	

}
.main_container{
	text-align:center;
	padding-top:10vh;
        color:#A2FB15;
  
}

.output p{
  color: #fff;
  line-height: 2.5;
  letter-spacing: 1.5px;
}
.output a{
  color:#fff;
  line-height: 2.5;
  letter-spacing: 1.5px;
}

#searchterm{
  color:#fff;
}

@media (min-width: 320px) and (max-width: 500px)  {
 .output  {
   font-size: 14px;	
   	
 }


}
